/*
GENERALS SETTING
*/

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

#octocat {
  width:55px;
  height: 55px;

}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

body{
  /*height: 100vh; */
  background-color: #1a202c;
  font-family: 'Poppins', sans-serif;
}

main{
  /* background-color: #212529; */
  display: flex;
  overflow: hidden;
  /*height: 100vh; */
  justify-content: center;

}

/*
HEADER/NAV SETTING
*/

.navbar-brand img{
  width: 7%;
}

.navbar-sticky-top
{
  position: fixed;
  z-index: 999;
  opacity:1;
  width: 100%;
}

.logo {
  height: 35px;
}

.mobile_logo {
  display: none;
}

/*
TABELLA INDEX
*/
.max_width_tab{
  max-width: 1500px;
  margin-top: 90px;
}

/*
MOBILE
*/
@media screen and (max-width: 580px) {
    .avatar{
        padding: 50px;
    }
}

/*
EFFECT
*/
.scale_card {
  transition: transform 2s;
}

.scale_card:hover {
  transform: scaleY(1.1) scaleX(1.1);
    border-radius: 10px;
    
}