/* general setting */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1a202c;
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}

main {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

/* nav setting */
.navbar {
  background-color: #0d6efd;
}

.navbar-brand img {
  width: 7%;
}

/* logo */
.logo {
  height: 35px;
}

.mobile_logo {
  display: none;
}

.text_logo {
  color: white;
  font-size: 25px;
}

.profile_picture {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.box-body {
  border-radius: 20px;
}

/* card */
.card {
  background-color: #2d3748;
  border: 1px solid #0d6efd;
  margin: 1rem;
}

.card:hover {
  border: 1px solid #2dff1e;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* title */
.title {
  font-size: 2.95rem;
  display: block;
  margin-bottom: 45px;
}

@media (max-width: 1400px) {
  .title {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 580px) {
  .avatar {
    padding: 50px;
  }
}

/* effect */
.scale_card {
  transition: transform 2s;
}

.scale_card:hover {
  transform: scaleY(1.05) scaleX(1.05);
  border-radius: 15px;
}

#button-container .btn {
  animation: pulse 2s infinite;
  background-color: #198754;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #198754;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(250, 229, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0);
  }
}

/* spinner */
body.loading {
  overflow: hidden;
}

#button-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: relative;
}

/* section about */
.col_content_about {
  border-radius: 15px;
  margin: 5px;
  text-align: left;
}

.three_sec {
  background-color: #0d6efd;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* section contact */
.title_contact_me {
  background-color: white;
  text-align: center;
}

.border_contact {
  border: 0;
  border-bottom: 1px solid #ced4da;
}

.footer_back_g {
  background-color: #3a546d;
  padding-top: 30px;
}

form {
  margin-bottom: 40px;
  padding-top: 60px;
}

.btn_color {
  background-color: #198754;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn_color:hover {
  background-color: #157347;
  opacity: 1 !important;
}

/* tech-logo */
.tech-logo {
  height: auto;
  user-select: none;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.3s ease;
}

.tech-logo:hover {
  transform: scale(1.05);
}
