/* general setting */
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

body{
  background-color: #1a202c;
  font-family: 'Poppins', sans-serif;
}

main{
  display: flex;
  overflow: hidden;
  justify-content: center;
}

/* nav setting */
.navbar{
  background-color:#0d6efd;
}

.navbar-brand img{
  width: 7%;
}

.navbar-sticky-top
{
  position: fixed;
  z-index: 999;
  opacity:1;
  width: 100%;
}

.logo {
  height: 35px;
}

.mobile_logo {
  display: none;
}

.text_logo{
  color: white;
  font-size: 27px;
  margin-left: 35px;
}

/* table index */
.max_width_tab{
  max-width: 1500px;
  margin-top: 90px;
}

.card {
  background-color: #2d3748;
  border: 1px solid #1E90FF;
  max-width: 24rem;
}

.card:hover {
  border: 1px solid #2dff1e;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* mobile */
@media screen and (max-width: 580px) {
    .avatar{
        padding: 50px;
    }
}

/* effect */
.scale_card {
  transition: transform 2s;
}

.scale_card:hover {
  transform: scaleY(1.05) scaleX(1.05);
  border-radius: 15px;
}

#button-container .btn{
  animation: pulse 2s infinite;
  background-color: #198754;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #198754;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(250, 229, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0);
  }
}
